<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbm-celebrate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,74},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-celebrate-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,104},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-celebrate-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,130},{16,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>bbm-celebrate-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,104},{16,24}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>bbm-celebrate-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,78},{16,24}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>bbm-celebrate-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,64},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-celebrate-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-celebrate-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-dance-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-dance-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-dance-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-dance-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,30}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-dance-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-dance-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-dance-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{16,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-explode-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-explode-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,234},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-explode-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,208},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-explode-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,208},{16,22}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-explode-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>bbm-explode-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,232},{20,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>bbm-explode-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,208},{22,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>bbm-explode-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{24,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>bbm-explode-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{24,22}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>bbm-fly-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,182},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-fly-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,156},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-fly-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,130},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-fly-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,104},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-head-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,155},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bbm-head-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,225},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bbm-head-left-01.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,207},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bbm-head-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,191},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bbm-head-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,173},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bbm-head-win-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,155},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bbm-ride-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,232},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>bbm-ride-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-ride-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,78},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-ride-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,52},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-ride-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-ride-win-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-cry-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-cry-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-dizzy-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>bbm-stood-dizzy-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,226},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>bbm-stood-dizzy-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,208},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>bbm-stood-dizzy-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,182},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>bbm-stood-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,156},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,130},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,104},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,78},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,52},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,182},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,156},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,130},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,104},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,78},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,52},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-pkup-pglove-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,182},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,156},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-scared-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,130},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-scared-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,104},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-scared-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,78},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-stood-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,52},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,26},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,24},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-pglove-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bbm-walk-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>black.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06f766ef55363427995b58ced21b78b1:7a01fbed54f9c1032315bb3a1e899211:01ad0b2e78661c17e22ce4332bb1a2eb$</string>
            <key>textureFileName</key>
            <string>black.png</string>
        </dict>
    </dict>
</plist>
