<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bnk-SaturnBomberman-Bonk.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{307,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,166}}</string>
                <key>sourceSize</key>
                <string>{307,166}</string>
            </dict>
            <key>bnk-celebrate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,311},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-celebrate-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,311},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-celebrate-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,311},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-celebrate-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,311},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-celebrate-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,311},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-celebrate-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,311},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-celebrate-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-celebrate-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,308},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-dizzy-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,326},{14,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-dizzy-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,308},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-dizzy-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,326},{14,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-dizzy-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,308},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,326},{14,18}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{14,18}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-explode-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,74},{14,12}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-fly-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-fly-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-fly-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,56},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-fly-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-head-celebrate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,329},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bnk-head-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,329},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bnk-head-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,329},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bnk-head-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,329},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bnk-head-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bnk-head-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,326},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bnk-ride-celebrate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-ride-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,290},{16,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-ride-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,38},{16,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-ride-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-ride-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-ride-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,20},{16,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,290},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-cry-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,290},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-cry-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,272},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,272},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,272},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,254},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,254},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,254},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,236},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,236},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,236},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,218},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,218},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,218},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,200},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,200},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-pkup-pglove-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,200},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,182},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-scared-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,182},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-scared-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,182},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-scared-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,164},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-stood-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,164},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,146},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,146},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,146},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,128},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,128},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,128},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,110},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,110},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,110},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,92},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-pglove-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,92},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,92},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,74},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,74},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>bnk-walk-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,74},{16,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bonk.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b907cb2e6abca1749540ff48b7f737b1:6cb9ef7a7832a6a438e84f34b2f30267:c5d67e3673d8f54edffb19dd856df9fe$</string>
            <key>textureFileName</key>
            <string>bonk.png</string>
        </dict>
    </dict>
</plist>
