<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bomb-exp-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,20},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bomb-exp-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>bomb-exp-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,18}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{20,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>bomb-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{14,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
           <key>bomb-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{14,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>bomb-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,20},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,12}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bomb-normal.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3a2c99c9dd2b613e558e70b0fb9a7bb$</string>
            <key>textureFileName</key>
            <string>bomb-normal.png</string>
        </dict>
    </dict>
</plist>
