<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg-break-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,32},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>egg-break-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{32,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>egg-break-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,36},{24,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>egg-break-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,32},{24,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>egg-open-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,42},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>egg-open-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>egg-open-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{28,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>egg-open-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,28}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>egg-open-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,34},{30,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>egg-open-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{30,28}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>egg-wobble-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,22},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>egg-wobble-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>egg-wobble-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>egg.png</string>
            <key>size</key>
            <string>{170,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62675221141121a19c7f286a9991c3a3:1/1$</string>
            <key>textureFileName</key>
            <string>egg.png</string>
        </dict>
    </dict>
</plist>
