<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wbm-celebrate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-celebrate-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-celebrate-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-celebrate-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{18,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>wbm-celebrate-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{18,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>wbm-celebrate-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-celebrate-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-celebrate-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-dance-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-dance-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-dance-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-dance-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{16,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-dance-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-dance-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-dance-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{16,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-explode-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-explode-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-explode-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-explode-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{16,22}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-explode-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{18,22}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>wbm-explode-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{20,20}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>wbm-explode-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2},{22,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>wbm-explode-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{24,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>wbm-explode-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>wbm-fly-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-fly-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-fly-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-fly-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-head-celebrate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>wbm-head-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>wbm-head-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>wbm-head-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>wbm-head-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>wbm-head-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{16,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>wbm-ride-celebrate-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-ride-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{16,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,23}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>wbm-ride-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-ride-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-ride-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-ride-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-cry-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-cry-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-cry-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-dizzy-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>wbm-stood-dizzy-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>wbm-stood-dizzy-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>wbm-stood-dizzy-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>wbm-stood-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,26}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-pkup-pglove-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-scared-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-scared-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-scared-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-stood-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-down-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-down-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-left-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-left-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-pglove-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-right-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-right-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-up-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>wbm-walk-up-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>white.png</string>
            <key>size</key>
            <string>{1574,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd0b6e46788a3f7d4c81a36178f3e9b4:1/1$</string>
            <key>textureFileName</key>
            <string>white.png</string>
        </dict>
    </dict>
</plist>
